.form-popup {
  /* display: none; */
  position: fixed;
  width: 70%;
  top: 50px;
  left: 50px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  background-color: lightgray;
  
}

.form-input {
  display: block;
}

.hidden {
  display: none;
}